# Exclude internals from stats
.internal/** linguist-vendored
_legacy_archive/** linguist-vendored
*.log linguist-generated
build/** linguist-generated
dist/** linguist-generated
node_modules/** linguist-vendored
vendor/** linguist-vendored
*.min.js linguist-generated
*.min.css linguist-generated
.DS_Store linguist-generated
Thumbs.db linguist-generated
.idea/** linguist-vendored
.vscode/** linguist-vendored